{% extends 'base.html' %}

{% block header %}
<div class="alert alert-warning" role="alert">
  <h3>Detail Page</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-success" role="alert">
    <p>Name: {{ object.author }}</p>
    <p>Title: {{ object.title }}</p>
    <p>Content: {{ object.content }}</p>
    <p><img src="{{ object.snsimage.url }}" width=300></p>
    <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button">Like</a>
    <a href="{% url 'read' object.pk %}" class="btn btn-secondary" role="button">AlreadyRead</a>
  </div>
  <p><a href="{% url 'list' %}" class="btn btn-secondary" role="button">Back</a></p>
</div>
{% else %}
<p>Please Login</p>
{% endif %}
{% endblock content %}

{% block footer %}
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2021- Miya-Tatsu</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="https://twitter.com/TSUTAYA00000926">Twitter</a></li>
    <li class="list-inline-item"><a href="#">note</a></li>
    <li class="list-inline-item"><a href="#">その他</a></li>
  </ul>
</footer>
{% endblock footer %}